.input-form{
    width: 60%;
    background-color: white;
    border-radius: 2px;
    border: none;
    padding: 8px;
    outline: none;
    box-shadow: 0px 0px 4px silver;
}

.input-form-1{
    width: 97%;
    display: block;
    background: rgb(241,241,241);
    border: none;
    padding: 5px;
    outline: none;
}

.button-list1{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: blue;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.button-list2{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background: blue;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.format-card{
    width: 30%;
    padding: 10px;
    font-size: 12px;
    margin: auto;
    background: rgb(0,92,192);
    color: white;
    text-align: center;
    cursor: pointer;
}